body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
p {
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Georgia', sans-serif;
    
}

.heart {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.heart > img {
    width: 50px;
    height: auto;
}

.message {
    padding: 20px;
    background-color:pink;
    min-width: 480px;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    overflow: hidden;
    animation-name: openmsg;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    text-align: center;
}
